.App {
  text-align: center;
  margin-top: 20px;
  
}


a {
  margin: 10px;
}
.carousel-container{
  width: 100vw;
}

.carousel-slide{
  display: flex;
  justify-content: center;
}

/* CARTA CSS */

/* .card {
  position: absolute;
  border-radius: 8px;
  height: 450px;
  width: 400px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 80px -10px black;
  overflow: hidden;
}

.card-blur {
  position: absolute;
  height: 100%;
  width: calc(100% + 1px);
  background-color: black;
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

.card:hover .card-blur {
  opacity: 0.6;
}

.footer {
  z-index: 1;
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0;
}

svg#curve {
  position: absolute;
  fill: white;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 450px;
}

.info {
font-family: Inconsolata;
  padding-left: 20px;
  transform: translateY(250px);
  
  transition: transform 1s cubic-bezier(.31,1.21,.64,1.02);
}

.card:hover .info {
  transform: translateY(0px);
}

.name {
  font-weight: bolder;
  padding-top: 5px;
}

.job {
  margin-top: 10px;
}


.card {
  background-image: url("https://http.cat/100")
}

.background {
  background-image: url("")
} */

/* NAVBAR */
.myNavbar {
  padding-top: 19px;
  width: 100vw;
  background-color: #471971;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 2;
}

.myNavbar a {
  text-decoration: none;
  font-size: 20px;
  color: bisque;
  cursor: pointer;
  transition: 0.1s;
}
.myNavbar a:hover {
  font-size: 1.4rem;
  color: #d4a7ff;
}

.eachName {
  height: 40px;
  display: flex;
  align-items: center;
}

/* SecNavbar ____________________________________________________________ */

.mySecNavbar {
  background-color: #471971;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
  z-index: 3;
}

.mySecNavbarTop {
  display: flex;
  justify-content: space-around;
  height: 50px;
  opacity: 0.9;
}
.mySecNavbarTop a {
  font-size: 20px;
  color: bisque;
}

.mySecNavbarList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2vh;
  gap: 2vh;
  padding-left: 12vw;
}

.mySecNavbarList a {
  font-size: 20px;
  color: bisque;
}

.myDesplegable {
  position: absolute;
  top: 5px;
  width: 40px;
  height: 40px;
  z-index: 4;
}
.myInsta {
  position: absolute;
  z-index: 4;
}
.myLogout {
  position: absolute;
  z-index: 4;
}
@media (min-width: 360px) {
  .myDesplegable {
    right: 3vw;
    transition: 0.1s;
  }
  .myDesplegable:hover {
    top: 3px;
    height: 2.7em;
    width: 2.7em;
  }
  .myInsta {
    right: 7.6vw;
    top: 5px;
    width: 40px;
    height: 40px;
    transition: 0.1s;
  }
  .myInsta:hover {
    top: 4px;
    height: 1.9em;
    width: 1.9em;
  }
  .myLogout {
    right: 13vw;
    top: 10px;
    width: 30px;
    height: 30px;
    transition: 0.1s;
  }
  .myLogout:hover {
    top: 10px;
    height: 2em;
    width: 2em;
  }
}

@media (max-width: 360px) {
  .myDesplegable {
    right: 6vw;
  }
  .myDesplegable:hover {
    right: 6vw;
  }
  .myInsta {
    right: 21vw;
    top: 9px;
    width: 30px;
    height: 30px;
  }
  .myInsta:hover {
    right: 21vw;
    top: 9px;
    width: 30px;
    height: 30px;
  }

  .myLogout {
    right: 35vw;
    top: 12px;
    width: 22px;
    height: 22px;
  }
  .myLogout:hover {
    right: 35vw;
    top: 12px;
    width: 22px;
    height: 22px;
  }
}

.myHomeNav {
  position: absolute;
  top: 0;
  left: 6vw;
  width: 140px;
  height: 45px;
}

/* DJS ________________________________________________________________________*/

.myDjFormContainer {
  background-color: white;
  border: solid 5px #471971;
  position: absolute;
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 5vw;
  z-index: 1;
  box-shadow: 0px 0px 20px rgba(71, 25, 113, 0.6);
}

.myDjForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  gap: 5px;
}

/* ____________________ PRODUCTOS ___________________________ */

.myProductsPage {
  margin-top: 60px;
}

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.editing .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(
    120deg,
    bisque 60%,
    rgb(255, 231, 222) 88%,
    rgb(255, 211, 195) 40%,
    rgba(255, 127, 80, 0.603) 48%
  );
  color: coral;
}

.flip-card-back {
  background: linear-gradient(
    120deg,
    rgb(255, 174, 145) 30%,
    coral 88%,
    bisque 40%,
    rgb(255, 185, 160) 78%
  );
  color: white;
  transform: rotateY(180deg);
}

.myProductFormContainer {
  background-color: white;
  border: solid 5px #471971;
  position: absolute;
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 5vw;
  z-index: 1;
  box-shadow: 0px 0px 20px rgba(71, 25, 113, 0.6);
}

.myProductForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  gap: 5px;
}

.myPriceAndIcon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.myPriceAndIcon img {
  width: 30px;
  height: 30px;
}

.myBackCard {
  display: flex;
  flex-direction: column;
}

.myBackCardForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}
.myBackCardForm button {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
}


.myPrductImgContainer {
  width: 100%;
}

.myProductImg {
  width: 80%;
  height: 100%;
}

.productButtons {
  display: flex;
  gap: 4vw;
  justify-content: center;
  margin-top: 10px;
}

/* .myForm {
  transition: opacity 0.5s ease-in-out;
}

.formVisible {
  opacity: 1;
}

.formHidden {
  opacity: 0;
  pointer-events: none;
  height: 0;
  padding: 0;
} */
/* SIGNUP ______________________________________________________________________ */
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90vw;
  height: auto;
  padding: 10px 20px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin-top: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 13px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 0px;
  letter-spacing: 4px;
  border-radius: 5px;
  background-color: #a19f9f;
  margin-bottom: 20px;
}

.login-box button:hover {
  background: #03e9f4;
  color: #000000;
  border-radius: 5px;
  box-shadow: 0 0 2px #03e9f4, 0 0 10px #03e9f4, 0 0 10px #03e9f4,
    0 0 50px #03e9f4;
}

.login-box button {
  position: absolute;
  display: block;
}

.login-box button:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box button:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box button:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box button:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
.myButtons {
  position: relative;
  display: inline-block;
  padding: 5px 5px;
  color: bisque;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 0px;
  letter-spacing: 4px;
  border-radius: 5px;
  background-color: #471971;
  margin-bottom: 20px;
  width: auto;
}

.myButtons:hover {
  background: #471971;
  color: bisque;
  /* border:solid 2px #fc538a; */
  border-radius: 5px;
  box-shadow: 0 0 5px #a572d4, 0 0 15px #a572d4, 0 0 10px #a572d4,
    0 0 100px #a572d4;
}

.loginBtnFix {
  background-color: #a19f9f;
}

/* SPINER _______________________________________________________________*/

.myLoader {
  margin-top: 30vh;
  margin-bottom: 60vh;
  margin-left: 40vw;
  margin-right: 40vw;
}

/* UBICACIONES __________________________________________________________*/
.locationsListPage {
  margin-top: 60px;
}

.myLocationFormContainer {
  background-color: white;
  border: solid 5px #471971;
  position: absolute;
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 5vw;
  z-index: 1;
  box-shadow: 0px 0px 20px rgba(71, 25, 113, 0.6);
}

.myLocationsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
  overflow: hidden;
}
.myLocationsListImgContainer {
  width: 300px;
  height: 400px;
  overflow: hidden;
}
.myLocationsList Img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.myLocationsList a {
  text-decoration: none;
}
.myLocationCardStyle {
  width: 300px;
  height: 500px;
  background-color: #471971;
  color: bisque;
}


.myEditLocationContainer{

  background-color: white;
  border: solid 5px #471971;
  position: absolute;
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 5vw;
  z-index: 1;
  box-shadow: 0px 0px 20px rgba(71, 25, 113, 0.6);


}


.myEditLocationForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  gap: 5px;
}
/* DETALLES DE UBICACION __________________________________________________________*/

.locationsDetailsPage {
  margin-top: 60px;
}

.leaflet-container {
  height: 30vh; 
  width: 100%; 
}

/* NOTFOUND */
.notFoundPage {
  margin-top: 0px;
  height: 95vh;
}

.notFoundPage1 img {
  margin-top: 0px;
  height: 100vh;
  filter: blur(0px);
}
/* .notFoundPage2 img{
  margin-top: 0px;
  height: 100vh;
  filter: blur(0px);
  margin-left: 0;
}
.notFoundPage3 img{
  margin-top: 0px;
  height: 100vh;
  filter: blur(0px);
}
 */

/* DETALLES EVENTO _________________________________________ */
.eventDetailsPage {
  margin-top: 50px;
}

.myGalleryContainer{
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap:wrap ;
}
.myEachGallery img:hover{
  transition: 0.2s;
}

@media (min-width: 360px) {
  .myEachGallery img:hover{
    width: 25em;
    height: 33em;
  }
}

@media (max-width: 360px) {
  .myEachGallery img:hover{
    width: 20em;
    height: 28em;
  }
}

.myEditEventFormContainer {
  background-color: white;
  border: solid 5px #471971;
  position: absolute;
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 5vw;
  z-index: 1;
  box-shadow: 0px 0px 20px rgba(71, 25, 113, 0.6);
}

.myEditEventForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  gap: 5px;
}

/* REACT PLAYER ______________________________________________*/

.myReactPlayerContainer {
  width: 60vw;
  margin-top: 20px;
  margin-left: 20vw;
  margin-right: 20vw;
}

.reactplayer {
  width: 100% !important;
}

/* EVENTS _______________________________________________ */
.eventsPage {
  margin-top: 60px;
}

.myEventsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
  overflow: hidden;
}

.myEventsListImgContainer {
  width: 300px;
  height: 400px;
  overflow: hidden;
}

.myEventsList Img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.myEventsList a {
  text-decoration: none;
}

.myEventsCardStyle {
  width: 300px;
  height: 500px;
  background-color: #471971;
  color: bisque;
}


.myAddEventFormContainer{
  background-color: white;
  border: solid 5px #471971;
  position: absolute;
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 5vw;
  z-index: 1;
  box-shadow: 0px 0px 20px rgba(71, 25, 113, 0.6);
}


.myAddEventForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  gap: 5px;
}


/* HOME */
.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
    font-family: "Sacramento", sans-serif;
    
}
.neonText body{
  background-color: #010a01;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.neonText h2 {
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  /* animation: pulsate 1.5s infinite alternate;  */
}
.neonText h4 {
  text-align: center;
  font-weight: 400;
   font-size: 40px; 
  /* animation: pulsate 1.5s infinite alternate;  */
}

/* @keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #bc13fe,
      0 0 80px #bc13fe,
      0 0 90px #bc13fe,
      0 0 100px #bc13fe,
      0 0 150px #bc13fe;
  
  }
  
  0% {

    text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #bc13fe,
    0 0 45px #bc13fe,
    0 0 55px #bc13fe,
    0 0 70px #bc13fe,
    0 0 80px #bc13fe;

}} */